.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  padding: 40px 70px 28px 0px;
  width: 365px;
}

.box :before {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 70px;
  bottom: 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.box::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 70px;
  bottom: 40px;
  width: 0px;
  border-radius: 10px;
  transition: all 600ms ease;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fdd638),
    color-stop(100, #00a650)
  );
  background-image: -webkit-linear-gradient(top, #fdd638 0%, #00a650 100%);
  background-image: linear-gradient(to bottom, #fdd638 0%, #00a650 100%);
}

.box:hover::after {
  width: 84%;
}

.iconList {
  position: absolute;
  right: 25px;
  top: 75px;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  list-style: none;
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: relative;
  color: #00a650;
  font-size: 35px !important;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.box:hover .name,
.box:hover .icon,
.box:hover .post {
  color: #ffffff;
}

.image {
  display: block;
  z-index: 1;
  position: relative;
  width: 85%;
  border-radius: 8px;
}

.content {
  text-align: left;
  z-index: 1;
  padding: 15px 15px 0px 100px;
}

.name {
  position: relative;
  color: #45a650;
  font-size: 20px;
  font-weight: 750;
  z-index: 1;
  line-height: 1.2em;
}

.post {
  position: relative;
  margin-top: 0;
  color: #777777;
  font-weight: 300;
  z-index: 1;
  font-size: 24px;
}

@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .box {
    position: relative;
    padding: 35px 50px 25px 0px;
    width: 335px;
  }
  .image {
    width: 72.5%;
    left: 20px;
  }
  .box:hover::after {
    width: 82%;
  }
}

@media screen and (min-width: 390px) and (max-width: 768px) {
  .box {
    position: relative;
    padding: 35px 50px 25px 0px;
    width: 300px;
  }
  .image {
    width: 75%;
    left: 20px;
  }
  .box:hover::after {
    width: 80%;
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) {
  .box {
    position: relative;
    padding: 35px 25px 20px 0px;
    width: 300px;
  }

  .box:hover::after {
    width: 79%;
  }

  .image {
    width: 70%;
    left: 15px;
  }

  .iconList {
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media screen and (max-width: 320px) {
  .box {
    position: relative;
    padding: 35px 15px 20px 0px;
    width: 275px;
  }

  .box:hover::after {
    width: 76.5%;
  }

  .image {
    width: 60%;
    left: 25px;
  }

  .iconList {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .icon {
    font-size: 28px !important;
  }

  .name {
    font-weight: 600;
  }

  .post {
    font-weight: 250;
  }
}
