.outerContainer {
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    text-align: center;
    background-image: url(/Images/Subtle-Prism.svg);
  }

  .container{
    display: flex;
    justify-content: space-evenly;
  }

  .header {
    text-align: center;
    font-size: 56px;
    color: #cc8c19;
    line-height: 10px;
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
    padding:5vh 0 5vh 0;  
  }

  .card{
    /* max-width:400px ;   */
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 5vh;
  }

  .image{
     width:280px;
     height:420px;
  }

  .image:hover{
      opacity: 0.3;
      visibility: visible;
      color: black;
  }

  .name{
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    margin: 0 auto;
    color:#a79376;
    font-size: 32px;
    padding-top: 20px;
  }

  .post{
    font-family: "Roboto", sans-serif !important;
    font-style: bold !important;
    font-size: 36px !important;
    /* line-height: 15px; */
    text-align: center !important;
    color:antiquewhite !important;
    margin: 0 !important;
    padding: 1vh 2vw 2vh 2vw;
  }

  @media screen and (min-width:1260px)
  and (max-width: 1450px){
    .image{
        width: 250px;
        height: 360px;
    }

    .name{
        font-size: 24px !important;
    }
    .post{
        font-size: 26px !important;
    }

    .header{
        font-size: 46px;
        padding: 10vh 0 5vh 0;
    }   
  }

  @media screen and (min-width:600px)
  and (max-width: 768px){
    .image{
        width: 160px;
        height: 240px;
    }

    .name{
        font-size: 20px !important;
    }
    .post{
        font-size: 20px !important;
    }

    .header{
        font-size: 40px;
        padding: 10vh 0 5vh 0;
    }   
  }

  @media screen and (max-width: 500px) {
    .outerContainer{
        height: 100vh;
    }  
    .image{
        width: 100px;
        height: 150px;
    }

    .name,
    .post{
        font-size: 16px !important;
    }

    .header{
        font-size: 28px;
        padding: 10vh 0 5vh 0;
    }
  }
  
  @media screen and (max-width: 320px) { 
    .image{
        width: 80px;
        height: 120px;
    }

    .name,
    .post{
        font-size: 14px !important;
    }

    .header{
        font-size: 24px;
        padding: 12vh 0 2.5vh 0;
    }
  }