.outerContainer {
  padding: 40px;
  background: #fff;
  /* width: 100%; */
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-slide img {
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  color: #5d5d5d;
}

.image {
  width: 380px;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.leftContainer,
.rightContainer {
  min-height: 525px !important;
  width: 380px !important;
  border-radius: 8px !important;
}

.leftContainer {
  background-color: #f2f2f2;
}

.rightContainer {
  background-color: #00a650;
}

.leftHeading,
.rightHeading {
  box-sizing: border-box;
  padding: 24px 36px 24px 24px;
  text-align: center;
  border-radius: 0 0 16px 16px;
}

.leftContent,
.rightContent {
  box-sizing: border-box;
  padding: 24px 36px 0 24px;
  text-align: center;
}

.leftPara {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #5d5d5d;
}

.rightPara {
  font-family: "Ubuntu";
  font-size: 18px;
}

.leftHeader {
  color: #5d5d5d;
}

.leftHeader,
.rightHeader {
  font-size: 26px;
  font-family: "Ubuntu";
}

.rightPara,
.rightHeader {
  color: #fff;
}

@media screen and (min-width: 1300px) and (max-width: 1380px) {
  .outerContainer {
    padding-left: 65px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1440px) {
  .slick-list {
    margin-left: 5%;
  }

  .outerContainer {
    margin: 0;
    padding-left: 25px !important;
  }
}

@media screen and (min-width: 1600px) {
  .slick-list {
    margin-left: 9%;
  }
}

@media screen and (min-width: 760px) and (max-width: 900px) {
  .slick-list {
    margin-left: 25%;
  }
  .outerContainer {
    margin: 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
  .slick-list {
    margin-left: 30%;
  }
  .outerContainer {
    margin: 0;
  }
}

@media screen and (min-width: 500px) and (max-width: 605px) {
  .slick-slide img {
    margin-top: 5%;
  }
  .slick-list {
    margin-left: 15%;
  }

  outerCcontainer {
    margin: 0;
  }
  .image {
    width: 185px;
    height: 185px;
    border-radius: 50%;
  }

  .leftHeading,
  .rightHeading {
    margin: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .leftContainer,
  .rightContainer {
    width: 300px !important;
    border-radius: 8px;
  }

  .slick-slide img {
    margin-top: 5%;
  }

  .outerContainer {
    margin: 0;
    padding: 46px;
  }
  .slick-list {
    margin-left: 2%;
  }

  .image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
  }

  .leftPara,
  .rightPara {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 385px) and (max-width: 400px) {
  .outerContainer {
    padding-left: 60px;
  }

  .slick-slide img {
    margin-left: 25%;
    margin-top: 5%;
    display: block;
  }

  .image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .outerContainer {
    margin: 0;
  }
  .leftContainer,
  .rightContainer {
    width: 270px !important;
    min-height: 475px !important;
    border-radius: 8px;
  }
  .leftHeading,
  .rightHeading {
    padding: 24px 36px 8px 24px;
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) {
  .outerContainer {
    padding-left: 42px;
  }

  .slick-slide img {
    margin-left: 25%;
    margin-top: 5%;
    display: block;
  }

  .image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .outerContainer {
    margin: 0;
  }
  .leftContainer,
  .rightContainer {
    width: 270px !important;
    min-height: 470px !important;
    border-radius: 8px;
  }
  .leftHeading,
  .rightHeading {
    padding: 24px 36px 8px 24px;
  }
}

@media screen and (min-width: 350px) and (max-width: 365px) {
  .slick-list {
    margin-left: 1.5%;
  }
  .outerContainer {
    margin: 0;
  }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
  .slick-list {
    margin-left: 4.5%;
  }
  .outerContainer {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .outerContainer {
    padding-left: 42px;
    margin: 0;
  }

  .slick-slide img {
    margin-left: 16%;
    margin-top: 5%;
    display: block;
  }

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .leftContainer,
  .rightContainer {
    width: 240px !important;
    border-radius: 8px;
  }

  .leftPara,
  .rightPara {
    font-size: 16px;
  }
  .leftHeader,
  .rightHeader {
    font-size: 26px;
  }
}
