@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.countdownContainer{
    height: 50vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #00a650;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    /* color: #00a650; */
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.countdown-svg {
    /* color: #00a650; */
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}