
.desktopOnly{
    display: flex;
    padding-left:9%;
    padding-bottom: 2%;
}
.wraper1,.wraper2,.wraper3{
    display: flex;
    flex-direction: column;
}

.imgCard {
	position: relative;
	list-style: none;
	text-align: center;
}

.effectImgCard {
	position: relative;
    float: left;
    overflow: hidden;
    margin: 1px 0.25%;
    /* min-width: 320px;
    max-width: 500px;
    max-height:470px; */
    background: #42b883;
    text-align: center;
    cursor: pointer;
}

.img {
	position: relative;
	display: block;
	min-height: 100%;
    max-width: 100%;
}

.imgCaption {
	color: #fff;
	text-transform: capitalize;
	/* font-size:20px; */
	backface-visibility: hidden;
}

.imgCaption,
.imgCaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
}

/*  style for component */

.imgCaption {
	top: auto;
	bottom: 0;
	padding:1.6em;
	height: 5em;
	background: #fff;
	color: #3c4a50;
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
}

.header {
    display: inline-block;
 }
 
.header{
    float:left;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 32px;
	transition: transform 0.35s;
    transform: translate3d(0,200%,0);
    
}

.description {
	position: absolute;
	bottom: 8em;
    color: #fff;
    /* color: black; */
	text-transform: none;
	font-size:18px;
    opacity: 0;
    background-color: transparent;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.effectImgCard span::before {
	display: inline-block;
	font-family: 'feathericons';
}

.effectImgCard:hover .description {
    opacity: 1;
}

.img:hover{
    opacity: 0.5;
    background-color: teal;
}

.effectImgCard:hover .imgCaption,
.effectImgCard:hover .header{
    /* opacity: 1; */
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effectImgCard:hover .header {
    /* opacity: 1; */
  -webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}



/*  Desktop/Laptop screen */
@media screen and (min-width:1020px)
and (max-width:1280px){
    .desktopOnly{
        padding: 0 2.5% 0 2.5%;
    }
    /* .imgCaption{
        padding: 5px;
    } */
}

@media screen and (min-width:1285px)
and (max-width:1680px){
    .desktopOnly{
        padding: 0 2.5% 0 2.5%;
    }
    .imgCaption{
        padding: 1em;
        height: 3em;
    }
}

/* mobile version*/
@media screen and (max-width:600px){
    .desktopOnly{
        display: none;
        visibility: hidden;
        clear: both;
    }
  
    .wraper1,.wraper2,.wraper3,.wraper4{
        display: flex;
        flex-direction: row;
    }

    .effectImgCard{
        min-width: 0;
        margin: 0.25px 0.5%;
        background: none;
    }
    .imgCaption{
       padding: 15px;
       height: 20px;
   }
}
 @media screen and (min-width:425px)
 and (max-width:600px){
     .mobileOnly{
         display: flex;
         flex-direction: column;
         margin-left: 8%;
     }
     .header{
        font-size: 16px;    
     }
 }

 @media screen and (min-width:400px)
 and (max-width:420px){
    .mobileOnly{
        display: flex;
        flex-direction: column;
        margin-left:2.5%;
    }
    .header{
       font-size: 14px;    
    }
}

@media screen and (min-width:360px)
and (max-width:375px){
   .mobileOnly{
       display: flex;
       flex-direction: column;
       margin-left:5%;
   }
   .header{
      font-size: 14px;    
   }
}

@media screen and (min-width:320px)
and (max-width:355px){
   .mobileOnly{
       display: flex;
       flex-direction: column;
       margin-left:15%;
   }    
   .header{
      font-size: 12px;    
   }
}
