.caBackgroundContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.mainBackground {
  background-image: url("../Images/hero_image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex: 1 1;
}
@media only screen and (max-width: 768px) {
  .mainBackground {
    background: none;
  }
}
