.whyCAOuterContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  background: #46a651;
}
.headingContainer {
  width: 100%;
  height: 13vh;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
}
.headingContainer > p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
  margin: 0 auto;
  color: #ffffff;
  font-size: 44px;
  line-height: 56px;
  padding-bottom: 50px;
  padding-top: 20px;
}
.reasonsOuterContainer {
  width: 88%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.imgTextWrapper {
  box-sizing: border-box;
  display: flex;
  width: 20vw;
  height: 30vh;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.15);

  justify-content: space-around;
  border-radius: 8px;
}
.imgTextWrapper img {
  width: 4vw;
}
.imgTextWrapper > p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  /* font-size: 16px; */
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
.reasonsText {
  padding: 0 2vw 2vh 2vw;
}

.reasonsHeading {
  font-family: "Roboto", sans-serif !important;
  font-style: bold !important;
  font-size: 24px !important;
  line-height: 15px;
  text-align: center !important;
  color: #000000 !important;
  margin: 0 !important;
  padding: 4vh 2vw 2vh 2vw;
}

@media screen and (max-width: 600px) {
  .reasonsOuterContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 0.47;
    justify-content: space-between;
  }

  .reasonsText {
    display: none;
  }

  .imgTextWrapper {
    height: 10vh;
    width: 32vw;
  }

  .headingContainer {
    height: 10vh;
    padding: 0 25px 0 25px;
  }

  .headingContainer > p {
    font-family: "Ubuntu";
    padding: 20px 0 0 0;
    font-size: 32px;
  }
  .reasonsHeading {
    font-size: 14px !important;
    font-weight: 0 !important;
    padding: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .reasonsOuterContainer {
    flex: 0.485;
  }

  .imgTextWrapper {
    height: 11vh;
    width: 40vw;
  }
  .headingContainer {
    height: 7vh;
  }
  .headingContainer > p {
    padding: 0;
    font-size: 24px;
  }
  .reasonsHeading {
    font-size: 12px !important;
    font-weight: 0 !important;
  }
}
@media screen and (min-width: 385px) and (max-width: 400px) {
  .reasonsOuterContainer {
    flex: 0.498;
  }
  .imgTextWrapper {
    height: 12vh;
    width: 42vw;
  }
  .headingContainer {
    height: 7.5vh;
  }
  .headingContainer > p {
    padding: 0;
    font-size: 22px;
  }
  .reasonsHeading {
    font-size: 12.5px !important;
    font-weight: 0 !important;
  }
}
@media screen and (min-width: 350px) and (max-width: 380px) {
  .reasonsOuterContainer {
    flex: 0.498;
  }
  .imgTextWrapper {
    height: 12vh;
    width: 45vw;
  }
  .headingContainer {
    height: 7.5vh;
  }
  .headingContainer > p {
    padding: 0;
    font-size: 22px;
  }
  .reasonsHeading {
    font-size: 12.5px !important;
    font-weight: 0 !important;
  }
}
@media screen and (max-width: 320px) {
  .reasonsOuterContainer {
    flex: 0.498;
  }
  .imgTextWrapper {
    height: 12vh;
    width: 52vw;
  }
  .headingContainer {
    height: 7.5vh;
  }
  .headingContainer > p {
    padding: 0;
    font-size: 22px;
  }
  .reasonsHeading {
    font-size: 12.5px !important;
    font-weight: 0 !important;
  }
}
@media (min-width: 755px) and (max-width: 1011px) {
  .reasonsOuterContainer {
    justify-content: space-between;
  }
  .imgTextWrapper img {
    width: auto;
  }
  .reasonsHeading {
    margin: 1rem;
    font-size: 15px !important;
    line-height: 23px !important;
    white-space: nowrap;
  }
  .imgTextWrapper {
    border-radius: 8px;
    width: 27vw;
    height: 20vh;
    font-size: 12px;
  }
  .imgTextWrapper > p {
    font-size: 14px;
  }

  .reasonsText {
    display: flex;
    margin-bottom: 0;
  }
  .headingContainer > p {
    font-size: 40px;
    line-height: 70px;
  }
}

@media (min-width: 1330px) and (max-width: 1500px) {
  .whyCAOuterContainer {
    height: 100vh;
  }
}

@media (min-width: 1280px) {
  .imgTextWrapper {
    width: 22vw;
    margin: 0 4%;
  }
}

@media (min-width: 1440px) {
  .imgTextWrapper {
    width: 21vw;
  }
  .reasonsOuterContainer {
    width: 85%;
  }
}
